<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding: 15px">
                THE FAITHFUL opened last weekend to popular and critical success, far exceeding our expectations, with
                over 500 people attending the live events!
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7; text-align:center">
            <blockquote>
                "rumanitive, haunting, and strange," <br/>-The Boston Globe
            </blockquote>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding: 15px">
                Did you miss it? You can now <a style="font-weight: bold; color: #777777" href="https://www.the-faithful.com/">stream The
                    Faithful from our website</a> as well as on <a style="font-weight: bold; color:#777777"
                    href="https://cinnamon.video/watch?v=542589753027987412&utm_source=thefaithful">Cinnamon</a>.
                Cinnamon is a beautiful new streaming platform that directly supports creators without resorting to
                advertising.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="ctaImg" type="cta" h="120" button="WATCH THE FAITHFUL NOW" />
            </a>
        </td>
    </tr>

    <tr>
        <td valign="top" class="headerContent" style="background-color:#fedfd7;">
            <p style="padding-left: 15px">
                Much gratitude,
            </p>
            <p style="padding-left: 15px">
                Annie Berman & Team
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" class="headerContent">
            <a href="{{ctaUrl}}">
                <img class="atri" id="bottom-img" type="faithful" logo="friend-25-footer" h="710"
                    logofile="friend-25-footer.png" />
            </a>
        </td>
    </tr>

</table>